@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
     box-sizing: border-box;
 }
 
  body{
     background-color: rgb(238, 238, 238);
     font-family: 'Open Sans', sans-serif;
 }
 
  header h1{
    font-size: 40px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    border-bottom: 5px solid steelblue;
    padding: 10px 20px;
    width: fit-content;
    height: 80px;
    margin: 20px auto 20px;
    border-radius: 10px;
    min-width: fit-content;
    overflow: hidden;
}

header p{
    font-style: italic;
    color: rgba(17, 17, 17, 0.432);
    text-align: center;
    margin: 5px auto;
    font-size: 20px;

}

h2{
    border-bottom: 3px solid black;
    width: 210px;
    background-color:rgb(182, 181, 181) ;
    border-radius: 4px;
    padding-left: 5px;
    position: sticky;
    top: 10px;
}

h2 span{
    font-size: 70%;
    font-style: italic;
    color: rgb(50, 91, 126);
    text-align: right;

}

article{
    margin-left: 20px;
}

article p{
    margin-left: 220px;
}